header {
  margin-bottom: 10px;
}
h1 {
  color: #26a2b2;
  font-family: "Lilita One", sans-serif;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  color: #eac160;
  text-shadow: #4327b4 4px 2px;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
nav div {
  width: 40%;
}
nav button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  /* background-color: #4327b4;
  color: #eac160; */
  font-family: "Lilita One", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  border: none;
  /* transition: all 0.6 ease; */
}
nav button:active {
  transform: scale(0.9);
}
.sloqan {
  color: #eac160;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  letter-spacing: 2px;
}

/** layihenin meqsedleri */

.goalSection {
  background-color: rgba(22, 21, 111, 0.7);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px ;
  padding: 1rem;
}

.goalSection .text-head {
  font-size: 20px;
  color: white;
}
.goalSection ul li {
  color: white;
  margin-top: 10px;
}
